<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/resultados-style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/hospital-style.css}">
<title th:text="${hospital.get(0).getNombre()}"></title>

</head>

<body>
	<div th:object="${hospital.get(0)}">
			<form th:action="@{/hospital}" method="POST">
				<div class="float-container">
					<div class="float-child">
					
						<label>Nombre:</label> 
						<input maxlength="50" type="text" id="nombre" name="nombre" th:placeholder="*{getNombre()}" th:value="*{getNombre()}"><br>
						
						<label>Dirección:</label> 
						<input maxlength="50" type="text" id="direccion" name="direccion" th:placeholder="*{getDireccion()}" th:value="*{getDireccion()}"><br>
						
						<label>Municipio:</label> 
						<input maxlength="50" type="text" id="municipio" name="municipio" th:placeholder="*{getMunicipio()}" th:value="*{getMunicipio()}"><br>
						
						<label>Teléfono:</label> 
						<input max="9999999999" type="number" id="telefono" name="telefono" th:placeholder="*{getTelefono()}" th:value="*{getTelefono()}">  <br>
						
						<label>Servicios:</label> <br>				
							<textarea id="servicios"  name="servicios" th:text="*{getServicios()}" th:value="*{getServicios()}" th:placeholder="*{getServicios()}" rows="3" cols="0" >
							</textarea>
						<br><br><br>
					</div>
					<div class="float-child">
						<label>No. Medicos:</label> 
						<input min="0" max="1000000" type="number" id="noMedicos" name="noMedicos" th:placeholder="*{getNoMedicos()}" th:value="*{getNoMedicos()}"><br>
						
						<label>No. Enfermeros:</label> 
						<input min="0" max="1000000" type="number" id="noEnfermeros" name="noEnfermeros" th:placeholder="*{getNoEnfermeros()}" th:value="*{getNoEnfermeros()}"><br>
						
						<label>No. Ambulancias:</label> 
						<input min="0" max="1000000" type="number" id="noAmbulacias" name="noAmbulacias" th:placeholder="*{getNoAmbulacias()}" th:value="*{getNoAmbulacias()}"><br>
						
						<label>No. Camillas:</label> 
						<input min="0" max="1000000" type="number" id="noCamillas" name="noCamillas" th:placeholder="*{getNoCamillas()}" th:value="*{getNoCamillas()}"><br>
						
						<label>No. Cuartos:</label> 
						<input min="0" max="1000000" type="number" id="noCuartos" name="noCuartos" th:placeholder="*{getNoCuartos()}" th:value="*{getNoCuartos()}"><br>
						
						<label>No. Laboratorios:</label> 
						<input min="0" max="1000000" type="number" id="noLab" name="noLab" th:placeholder="*{getNoLab()}" th:value="*{getNoLab()}"><br><br>
						<button type="submit" class="btn btn-success">Guardar datos</button>
						<a th:href="@{/lista-hospitales}" class="btn btn-danger"> Cancelar</a>
					</div>

				</div>
			</form>
	</div>
</body>
</html>