<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/hospital-style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/editar-style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/style-pag-vista.css}">
<title>Insertar Hospital</title>

<link rel="stylesheet" href="hospital-style.css">
</head>
<body class="edit">
	<div class="wrapper">
		<form style="color: black;" th:action="@{/insertar-hospital}" method="post">

			<!--//////////////////////////////////Formulario de Datos Generales////////////////////////////////////////////////////////////-->

			<div id="hospital" class="justify-content-center">
				<div style="width: 700px;" class="card drop m-5 pr-5 pl-5">
					<div class="card-body pr-5 pl-5">
						<h3 class="mt-5" align="center">Datos del Hospital</h3>
						
						<div class="mb-3">
							<br> <label for="nombreHos" class="form-label">Nombre</label>
							<span> <input width="100%" maxlength="50" type="text" class="form-control"
								name="nombreHos" id="nombreHos">
							</span>
						</div>

						<div class="mb-3">
							<label for="direccionHos" class="form-label">Dirección</label> 
							<input width="100%" maxlength="50" type="text" class="form-control" name="direccionHos" id="direccionHos">
						</div>

						<div class="mb-3">
							<label for="municipioHos" class="form-label">Municipio</label> <input
								width="100%" maxlength="50" type="text" class="form-control" name="municipioHos"
								id="municipioHos">
						</div>
						
						<div class="mb-3">
							<label for="telefonoH" class="form-label">Teléfono</label> 
							<input maxlength="50" type="text" class="form-control" name="telefonoH" id="telefonoH">
						</div>

						<div class="row justify-content-center mt-4">
							<div class="col-2">
								<label for="nMedicos" class="form-label">No. Medicos</label>
							</div>
							<div class="col-2">
								<input type="number" class="form-control" name="nMedicos"
									id="nMedicos">
							</div>
							<div class="col-2">
								<label for="nAmbulancias" class="form-label">No.
									Ambulancias</label>
							</div>
							<div class="col-2">
								<input type="number" class="form-control" name="nAmbulancias"
									id="nAmbulancias">
							</div>
							<div class="col-2">
								<label for="nCuartos" class="form-label">No. Cuartos</label>
							</div>
							<div class="col-2">
								<input type="number" class="form-control" name="nCuartos"
									id="nCuartos">
							</div>
						</div>
						<!-- 						asda -->
						<div class="row justify-content-center mt-4">
							<div class="col-2">
								<label for="nEnfermos" class="form-label">No. Enfermos</label>
							</div>
							<div class="col-2">
								<input type="number" class="form-control" name="nEnfermos"
									id="nEnfermos">
							</div>
							<div class="col-2">
								<label for="nCamillas" class="form-label">No. Camillas</label>
							</div>
							<div class="col-2">
								<input type="number" class="form-control" name="nCamillas"
									id="nCamillas">
							</div>
							<div class="col-2">
								<label for="nLaboratorios" class="form-label">No.
									Laboratorios</label>
							</div>
							<div class="col-2">
								<input type="number" class="form-control" name="nLaboratorios"
									id="nLaboratorios">
							</div>
						</div>

						<div class="mb-5 mt-5">
							<label for="servicioHos" class="form-label">Servicios</label>
							<textarea class="form-control" id="servicioHos" name="servicioHos" rows="3" cols="0">
							</textarea>
						</div>
					</div>
				</div>
				
			</div>
		
			<div id="personal" class="mt-5" >
			<div class="wrapperP">
				<div class="card drop director" style="width: 400px;float:left !important;">
						<div class="card-body mt-5">

							<h3 align="center" class="mb-4 mt-4">Datos Director</h3>

							<div class="mb-3">
								<div class="row justify-content-center">

									<div class="col-2">
										<label>Nombre:</label>
									</div>
									<div class="col-8">

										<input maxlength="50" type="text" style="width: 90%;" class="form-control"
											name="nombreDirector" id="nombreDirector">
									</div>

								</div>

							</div>

							<div class="mb-3">
								<div class="row justify-content-center">

									<div class="col-2">
										<label for="tituloDirector" style="font-size: 17px"
											class="form-label">Titulo:</label>
									</div>
									<div class="col-8">

										<input maxlength="50" type="text" class="form-control" name="tituloDirector"
											id="tituloDirector">
									</div>

								</div>
							</div>

							<div class="mb-3">
								<div class="row justify-content-center">

									<div class="col-2">
										<label for="profecionDirector" style="font-size: 17px"
											class="form-label">Profesión:</label>
									</div>
									<div class="col-8">
										<input maxlength="50" type="text" class="form-control"
											name="profecionDirector" id="profecionDirector">
									</div>

								</div>
							</div>
							
							<div class="mb-3">
								<div class="row justify-content-center">
									<div class="col-2">
										<label for="emailDirector" style="font-size: 17px"
											class="form-label">Email:</label>
									</div>
									<div class="col-8">
										<input maxlength="100" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email" class="form-control" name="emailDirector"
											id="emailDirector">
									</div>

								</div>
							</div>

							<div class="mb-4">
								<div class="row justify-content-center mb-5">

									<div class="col-2">
										<label for="telefDirector" style="font-size: 17px"
											class="form-label">Teléfono</label>
									</div>
									<div class="col-8">
										<input  maxlength="50" type="text" class="form-control" name="telefDirector"
											id="telefDirector">
									</div>

								</div>
							</div>


						</div>
					</div>
			


				<!--//////////////////////////////////Formulario de los Subdirectores////////////////////////////////////////////////////////////-->
				<div class="card subdirector" style="width: 400px; float:left !important;">
					<div class="card-body mt-5">

						<h3 align="center" class="mb-4 mt-4">Datos Subdirector</h3>

						<div class="mb-3">
							<div class="row justify-content-center">

								<div class="col-2">
									<label for="nombreSubdirector" class="form-label">Nombre:</label>
								</div>
								<div class="col-8">
									<input maxlength="50" type="text" class="form-control"
										name="nombreSubdirector" id="nombreSubdirector">
								</div>

							</div>

						</div>
						<!-- ssasssssssssssssssssssssssssssssssssssssssssssssss -->
						<div class="mb-3">
							<div class="row justify-content-center">

								<div class="col-2">
									<label for="tituloSubdirector" class="form-label">Titulo:</label>
								</div>
								<div class="col-8">
									<input maxlength="50" type="text" class="form-control"
										name="tituloSubdirector" id=tituloSubdirector>
								</div>

							</div>
						</div>
						<!-- ssasssssssssssssssssssssssssssssssssssssssssssssss -->
						<div class="mb-3">
							<div class="row justify-content-center">
								<div class="col-2">
									<label for="profecionSubdirector" class="form-label">Profesión:</label>
								</div>
								<div class="col-8">
									<input type="text" class="form-control"
										name="profecionSubdirector" id="profecionSubdirector">
								</div>
							</div>
						</div>
						<!-- ssasssssssssssssssssssssssssssssssssssssssssssssss -->
						<div class="mb-3">
							<div class="row justify-content-center">
								<div class="col-2">
									<label for="emailSubdirector" class="form-label">Email:</label>
								</div>
								<div class="col-8">
									<input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email" class="form-control" name="emailSubdirector"
										id="emailSubdirector">
								</div>

							</div>
						</div>
						<!-- ssasssssssssssssssssssssssssssssssssssssssssssssss -->
						<div class="mb-3">
							<div class="row justify-content-center mb-5">

								<div class="col-2">
									<label for="telefSubdirector" class="form-label">Teléfono</label>
								</div>
								<div class="col-8">
									<input maxlength="50" type="text" class="form-control"
										name="telefSubdirector" id="telefSubdirector">
								</div>

							</div>
						</div>


					</div>
				</div>



				<!--//////////////////////////////////Formulario de los Administradores////////////////////////////////////////////////////////////-->
				<div class="card administrador" style="width: 400px;float:left !important;">
					<div class="card-body mt-5">

						<h3 align="center" class="mb-4  mt-4">Datos Administrador</h3>

						<div class="mb-3">
							<div class="row justify-content-center">

								<div class="col-2">
									<label for="nombreAdministrador" class="form-label">Nombre:</label>

								</div>
								<div class="col-8">
									<input maxlength="50" type="text" class="form-control"
										name="nombreAdministrador" id="nombreAdministrador">
								</div>

							</div>

						</div>
						<!-- ssasssssssssssssssssssssssssssssssssssssssssssssss -->
						<div class="mb-3">
							<div class="row justify-content-center">

								<div class="col-2">
									<label for="tituloAdministrador" class="form-label">Titulo:</label>
								</div>
								<div class="col-8">
									<input maxlength="50" type="text" class="form-control"
										name="tituloAdministrador" id="tituloAdministrador">
								</div>

							</div>
						</div>
						<!-- ssasssssssssssssssssssssssssssssssssssssssssssssss -->
						<div class="mb-3">
							<div class="row justify-content-center">
								<div class="col-2">
									<label for="profecionAdministrador" class="form-label">Profesión:</label>
								</div>
								<div class="col-8">
									<input maxlength="50" type="text" class="form-control"
										name="profecionAdministrador" id="profecionAdministrador">
								</div>
							</div>
						</div>
						<!-- ssasssssssssssssssssssssssssssssssssssssssssssssss -->
						<div class="mb-3">
							<div class="row justify-content-center">
								<div class="col-2">
									<label for="emailAdministrador" class="form-label">Email:</label>
								</div>
								<div class="col-8">
									<input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email" class="form-control"
										name="emailAdministrador" id="emailAdministrador">
								</div>

							</div>
						</div>
						<!-- ssasssssssssssssssssssssssssssssssssssssssssssssss -->
						<div class="mb-3">
							<div class="row justify-content-center mb-5">

								<div class="col-2">
									<label for="telefAdministrador" class="form-label">Teléfono</label>
								</div>
								<div class="col-8">
									<input maxlength="50" type="text" class="form-control"
										name="telefAdministrador" id="telefAdministrador">
								</div>

							</div>
						</div>


					</div>
				</div>
			</div>
			</div>
			<!--//////////////////////////////////Formulario de Covid-19////////////////////////////////////////////////////////////-->

			<div id="covid">
				<div class="card drop mt-5 mb-5">
					<div class="card-body">
						<h3 align="center" class="mb-4 mt-4">Registros de COVID-19</h3>
						<div style="width: 400px;">
							<div class="row justify-content-center mb-3">

								<div class="col-5">
									<label for="casosNeg" class="form-label">Casos Negativos:</label>
								</div>
								<div class="col-4">
									<input class="form-control" style="width: 85px" min="0" max="1000000" type="number" id="casosNeg" name="casosNeg">
								</div>

							</div>

							<div class="row justify-content-center mb-3">

								<div class="col-5">
									<label>Casos En Estudio:</label>
								</div>

								<div class="col-4">
									<input class="form-control" style="width: 85px" min="0"
										max="1000000" type="number" id="casosEstudio"
										name="casosEstudio">
								</div>

							</div>

							<div class="row justify-content-center mb-3">
								<div class="col-5">
									<label>Casos Positivos:</label>
								</div>

								<div class="col-4">
									<input class="form-control" style="width: 85px" min="0"
										max="1000000" type="number" id="casosPositi"
										name="casosPositi">
								</div>
							</div>

							<div class="row justify-content-center mb-3">
								<div class="col-5">
									<label>Defunciones:</label>
								</div>
								<div class="col-4">
									<input class="form-control" style="width: 85px" min="0"
										max="1000000" type="number" id="Defunciones"
										name="Defunciones">
								</div>
							</div>

							<div class="row justify-content-center mb-3">
								<div class="col-5 mb-4">
									<label>Recuperados:</label>
								</div>
								<div class="col-4">
									<input class="form-control" style="width: 85px" min="0"
										max="1000000" type="number" id="Recuperados"
										name="Recuperados">
								</div>
							</div>

						</div>
					</div>
				</div>
				<!--Enviar formulario -->
				<div class="row justify-content-center mb-3">

						<div class="col-5">
							<button type="button" class="btn btn-danger"><a th:href="@{/lista-hospitales}" class="btn-danger" style="background-color: 0;"> Cancelar</a> </button>
						</div>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<div class="col-5">
							<button type="submit" class="btn btn-success">Guardar</button>
						</div>
	
				</div>
				
			</div>
			
		</form>
	</div>
</body>
</html>